@if (!isSumbitted) {
<div class="container-fluid">
  <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="tab-login" data-mdb-pill-init href="/login" role="tab"
        aria-controls="pills-login" aria-selected="true">Sign In</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="tab-register" data-mdb-pill-init routerLink="/register" role="tab"
        aria-controls="pills-register" aria-selected="false" style="border: 1px solid blue;">Register</a>
    </li>
  </ul>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email" class="form-label">Email address</label>
      <input type="text" class="form-control" id="email" formControlName="email" [class.is-invalid]="email?.invalid && email?.dirty">
      @if (email?.hasError('required') && email?.dirty) {
        <small class="text-danger">Required Field</small>
      }
      @if (email?.hasError('email') && email?.dirty) {
        <small class="text-danger">Malformed Email Address</small>
      }
    </div>
    
    <div class="form-group">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password" [class.is-invalid]="password?.invalid && password?.dirty">
      @if (password?.hasError('required') && password?.dirty) {
        <small class="text-danger">Required Field</small>
      }
    </div>

    <div class="form-group">
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Sign In</button>
    </div>
    <p style="margin-top: 20px;">Not a member? <a routerLink="/register" style="text-decoration: none;">Register Now</a> </p>
  </form>
</div>
}