@if (!isSubmitted) {
<div class="container-fluid">
  <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="tab-register" data-mdb-pill-init routerLink="/profile/update-email" role="tab" aria-controls="pills-register" aria-selected="false" style="border: 1px solid blue;">Update Email Address</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="tab-login" data-mdb-pill-init href="/profile/update-password" role="tab" aria-controls="pills-login" aria-selected="true" >Change Password</a>
    </li>
  </ul>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row mb-4">
      <div class="col">
        <div data-mdb-input-init class="form-group">
          <label class="form-label" for="currentPassword">Current Password</label>
          @if (currentPassword?.hasError('required') && currentPassword?.dirty) {
            <small class="text-danger">Required Field</small>
          }
          <input type="password" formControlName="currentPassword" id="currentPassword" class="form-control" [class.is-invalid]="currentPassword?.invalid && currentPassword?.dirty"/>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <div data-mdb-input-init class="form-group">
          <label class="form-label" for="password">New Password</label>
          <input type="password" formControlName="password" id="password" class="form-control" [class.is-invalid]="password?.invalid && password?.dirty"/>
          @if (password?.hasError('required') && password?.dirty) {
            <small class="text-danger">Required Field</small>
          }
          @if (password?.hasError('minlength') && password?.dirty) {
            <small class="text-danger">Minimum of 8 characters</small>
          }
        </div>
      </div>

      <div class="col">
        <div data-mdb-input-init class="form-group">
          <label class="form-label" for="confirmPassword">Confirm New Password</label>
          <input type="password" formControlName="confirmPassword" id="confirmPassword" class="form-control" [class.is-invalid]="confirmPassword?.invalid && confirmPassword?.dirty"/>
          @if (confirmPassword?.hasError('required') && confirmPassword?.dirty) {
            <small class="text-danger">Required Field</small>
          }
          @if (form.hasError('misMatch')) {
            <small class="text-danger">Passwords do not match</small>
          }
        </div>
      </div>
    </div>


    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Change Password</button>
    </div>

  </form>
</div>
}