<!-- Jumbotron -->
<div class="p-5 text-center bg-body-tertiary">
  <h1 class="mb-3">Registered Customers</h1>
  <h4 class="mb-3">Manage and View Customers</h4>
</div>
<!-- Jumbotron -->
 
@if (customers) {
<!-- Accounts Table -->
<section class="intro">
  <div class="bg-image h-100" style="background-color: #6095f0">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card shadow-2-strong" style="background-color: #f5f7fa">
              <div class="card-body">
                @if (customers.data.totalItems>0) {
                <div class="table-responsive">
                  <table class="table table-borderless mb-0" style="text-align: center">
                    <thead>
                      <tr>
                        <th scope="col">FIRST NAME</th>
                        <th scope="col">LAST NAME</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">INITIAL DEPOSIT</th>
                        <th scope="col">DETAILS</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (customer of customers.data.content; track customer.email)
                      {
                      <tr>
                        <td>{{ customer.firstName }}</td>
                        <td>{{ customer.lastName}}</td>
                        <td>{{ customer.email }}</td>
                        <td>{{ customer.initialDeposit }}</td>
                        <td>
                          <button class="btn btn-info btn-sm px-3" (click)="goToDetails()">
                            <i class="fa-solid fa-circle-info"></i>
                          </button>
                        </td>
                        <!-- <td>
                          <button type="button" class="btn btn-danger btn-sm px-3">
                            <i class="fas fa-times"></i>
                          </button>
                        </td> -->
                      </tr>
                      }
                    </tbody>
                  </table>
                </div>
                }@else {
                <h3 style="text-align: center">
                  No Customers are registered currently
                </h3>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Accounts Table -->

@if (customers.data.totalItems > 0 ) {
  <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="currentPage" (page)="pageChanged($event)"></mat-paginator>
}
}