<!-- CUSTOMER SECTION -->

@if (customer) {
<section class="vh-100" style="background-color: #f4f5f7">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: 0.5rem">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white" style="border-top-left-radius: 0.5rem; border-bottom-left-radius: 0.5rem;">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp" alt="Avatar" class="img-fluid my-5" style="width: 80px"/>
              <h5>
                {{ customer.data.firstName }} {{ customer.data.lastName }}
              </h5>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Personal Details</h6>
                <hr class="mt-0 mb-4" />
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>First Name</h6>
                    <p class="text-muted">{{ customer.data.firstName }}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Last Name</h6>
                    <p class="text-muted">{{ customer.data.lastName }}</p>
                  </div>
                  <div class="col-12">
                    <a routerLink="update-personal">
                      <i class="far fa-edit mb-5"></i> Update Personal Details
                    </a>
                  </div>
                </div>
                <h6>Account Information</h6>
                <hr class="mt-0 mb-4" />
                <div class="row pt-1">
                  <div class="col-12 mb-3">
                    <h6>Email Address</h6>
                    <p class="text-muted">{{ customer.data.email }}</p>
                  </div>
                  <div class="col-12 mb-3">
                    <a routerLink="update-email">
                      <i class="far fa-edit mb-5"></i> Update Security Details
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
}


<!-- ADMIN SECTION -->


@if (isAdmin) {
  <!-- Jumbotron -->
<div class="p-5 text-center bg-body-tertiary">
  <h1 class="mb-3">ADMIN DASHBOARD</h1>
  <a data-mdb-ripple-init class="btn btn-primary" routerLink="/admin/customers" role="button">
      View Customers
  </a>
  <a data-mdb-ripple-init class="btn btn-primary" routerLink="/admin/accounts" role="button">
      View Accounts
  </a>
  <a data-mdb-ripple-init class="btn btn-primary" routerLink="/admin/transactions" role="button">
      View Transactions
  </a>
  
</div>
<!-- Jumbotron -->


<div class="container-admin">
<div class="row ">
    <div class="col-xl-4 col-lg-6">
        <div class="card l-bg-cherry">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                <div class="mb-4">
                    <h5 class="card-title mb-0">Customers Registered</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0">
                            {{customers.data.pageable.totalElements}}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6">
        <div class="card l-bg-blue-dark">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large"><i class="fas fa-money-check"></i></div>
                <div class="mb-4">
                    <h5 class="card-title mb-0">Accounts Opened</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0">
                            {{accounts.data.pageable.totalElements}}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6">
        <div class="card l-bg-green-dark">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large"><i class="fas fa-money-bill-trend-up"></i></div>
                <div class="mb-4">
                    <h5 class="card-title mb-0">Transactions Committed</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0">
                          {{transactions.data.pageable.totalElements}}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
}
