@if (!isSubmitted) {
<div class="container-fluid">
  <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="tab-register" data-mdb-pill-init routerLink="/login" role="tab" aria-controls="pills-register" aria-selected="false" style="border: 1px solid blue;">Sign In</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="tab-login" data-mdb-pill-init href="/register" role="tab" aria-controls="pills-login" aria-selected="true" >Register</a>
    </li>
  </ul>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row mb-4">
      <div class="col">
        <div data-mdb-input-init class="form-group">
          <label class="form-label" for="firstName">First name</label>
          @if (firstName?.hasError('required') && firstName?.dirty) {
            <small class="text-danger">Required Field</small>
          }
          @if (firstName?.hasError('pattern') && firstName?.dirty && !firstName?.hasError('spam')) {
            <small class="text-danger">Please enter a valid name</small>
          }
          @if (firstName?.hasError('spam') && firstName?.dirty) {
            <small class="text-danger">Spam Detection</small>
          }
          <input type="text" formControlName="firstName" id="firstName" class="form-control" [class.is-invalid]="firstName?.invalid && firstName?.dirty"/>
        </div>
      </div>
      
      <div class="col">
        <div data-mdb-input-init class="form-group">
          <label class="form-label" for="lastName">Last name</label>
          @if (lastName?.hasError('required') && lastName?.dirty) {
            <small class="text-danger">Required Field</small>
          }
          @if (lastName?.hasError('pattern') && lastName?.dirty && !lastName?.hasError('spam')) {
            <small class="text-danger">Please enter a valid name</small>
          }
          @if (lastName?.hasError('spam') && lastName?.dirty) {
            <small class="text-danger">Spam Detection</small>
          }
          <input type="text" formControlName="lastName" id="lastName" class="form-control" [class.is-invalid]="lastName?.invalid && lastName?.dirty"/>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <div data-mdb-input-init class="form-group">
          <label class="form-label" for="email">Email address</label>
          @if (email?.hasError('required') && email?.dirty) {
            <small class="text-danger">Required Field</small>
          }
          @if (email?.hasError('pattern') && email?.dirty && !email?.hasError('spam')) {
            <small class="text-danger">Malformed Email Address</small>
          }
          @if (email?.hasError('spam') && email?.dirty) {
            <small class="text-danger">Spam Detection</small>
          }
          <input type="email" formControlName="email" id="email" class="form-control" [class.is-invalid]="email?.invalid && email?.dirty"/>
        </div>
      </div>

      <div class="col">
        <div data-mdb-input-init class="form-group">
          <label class="form-label" for="password">Password</label>
          @if (password?.hasError('required') && password?.dirty) {
            <small class="text-danger">Required Field</small>
          }
          @if (password?.hasError('minlength') && password?.dirty) {
            <small class="text-danger">Minimum of 8 characters</small>
          }
          <input type="password" formControlName="password" id="password" class="form-control" [class.is-invalid]="password?.invalid && password?.dirty"/>
        </div>
      </div>
    </div>

    <div data-mdb-input-init class="form-group">
      <label class="form-label" for="initialDeposit">Initial Deposit</label>
      @if (initialDeposit?.hasError('required') && initialDeposit?.dirty) {
        <small class="text-danger">Required Field</small>
      }
      @if (initialDeposit?.hasError('min') && initialDeposit?.dirty && !initialDeposit?.hasError('pattern')) {
        <small class="text-danger">Minimum amount is 1000</small>
      }
      @if (initialDeposit?.hasError('pattern') && initialDeposit?.dirty) {
        <small class="text-danger">Please enter a valid amount</small>
      }
      <input type="text" formControlName="initialDeposit" id="initialDeposit" class="form-control" [class.is-invalid]="initialDeposit?.invalid && initialDeposit?.dirty"/>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Register</button>
    </div>

    <p style="margin-top: 20px">Have an account? <a routerLink="/login" style="text-decoration: none;">Sign In</a> </p>
  </form>
</div>
}